* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.wrapper {
  padding: 40px 40px;
}

.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.btn__icon {
  margin-right: 5px;
}

.btn--primary {
  background-color: #F78065;
  color: white;
  padding: 10px 20px;
  margin: 4px 2px;
}

.btn--secondary {
  color: #F78065;
  background-color: #FFFFFF;
}

.title {
  font-weight: 700;
  color: #000000;
  letter-spacing: .5;
}

.title--hero {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.356);
}

.title--hero span {
  color: #F78065;
}

.title--card {
  font-size: 1.5rem;
  white-space: nowrap;
  max-width: 250px;
  width: 350px;
  overflow: hidden;
  text-overflow: clip;
}

.title--card:hover {
  overflow: visible;
}

.title--sub {
  font-size: 2.3rem;
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
}

.text {
  text-align: justify;
  font-weight: 200;
}

.text__hero {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.text--primary {
  color: rgba(0, 0, 0, 0.568);
}

.text--secondary {
  color: #F78065;
}

.text__team {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .text {
    text-align: center;
  }
}

.card__text {
  margin-bottom: 20px;
}

.card__image {
  margin-bottom: 20px;
}

.card__image--about {
  padding: 10px 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card {
    text-align: center;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  margin-top: 2rem;
}

.header__logo-1 {
  padding-left: 5rem;
}

.header__logo-2 {
  padding-right: 5rem;
}

.header__icon-2 {
  width: 50px;
}

.hero {
  background-image: url(../image/Rectangle1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: center;
  height: 95vh;
  text-align: left;
  padding: 0 40px;
  text-align: justify;
}

.hero__content {
  max-width: 700px;
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  position: absolute;
  bottom: -100px;
  left: 60px;
  -webkit-box-shadow: -2px -3px 8px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -2px -3px 8px 5px rgba(0, 0, 0, 0.2);
  padding: 50px 90px 20px 70px;
  margin-right: 40px;
}

.about {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media screen and (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }
}

.priority {
  text-align: left;
}

.priority__header {
  margin: 50px 0;
}

.priority__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .priority__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }
}

.team__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 768px) {
  .team__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.team__header {
  margin-bottom: 10px;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  padding-left: 40px;
}

@media screen and (max-width: 768px) {
  .team__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    row-gap: 30px;
    text-align: center;
  }
}

.advantage__header {
  margin-bottom: 50px;
}

.advantage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media screen and (max-width: 768px) {
  .advantage__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  background-color: #F7F7F7;
  min-width: 1200px;
  width: 100%;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  padding-left: 60px;
}

.footer__list--item {
  list-style-type: none;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer__menu--item {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 768px;
    background-position: center;
    height: 60vh;
  }
  .team__content, .footer__content, .card--one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list {
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
  }
  .footer {
    min-width: 768px;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */