$color-primary:#000000;
$color-secondary: #F78065;
$color-tertiary:#FFFFFF;
$color-bg:#F7F7F7;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
}



.btn{

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;          

        &__icon{
        margin-right:6px;
        
        }    

        &--primary{
            background-color: #F78065;
        }

}


.title{
    
    font-weight: 700;
    color: $color-primary;
    letter-spacing: .5;
    text-align: justify;


    &--hero{
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.356);

        span{
            color: $color-secondary;
        }
    }

    &--about{
        font-size: 1.5rem;
    }
}


.text{
    
    text-align: justify;
    font-weight: 200;
    

        &__hero{
            margin-bottom: 20px;
            font-size: 1.3rem;
        }

        &--primary{
            color: rgba(0, 0, 0, 0.568);
        }

        &--secondary{
            color:$color-secondary;    
        }

}

.card{
    text-align: center;
    padding: 0 20px;

    &__image{
        padding: 10px 30px;
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 20px;
        font-size: 1rem;
    }
}


.header{
    position: relative;

    &__wrap{
    position: absolute;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: 2rem;
    }
    
        &__logo-1{
            padding-left: 5rem;
        }

        &__logo-2{
            padding-right: 5rem;
           
           
        }
        &__icon-2{
            width: 50px;   
        }

}


.hero{
   
    background-image: url(../image/Rectangle1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;
    height: 95vh;
    text-align: left;
    padding: 0 40px;
    text-align: justify;


    &__content{
        max-width: 700px;
        width: 100%;
        background-color: $color-tertiary;
        color:$color-primary;
        position: absolute;
        top:65%;
        left: 30%;
        transform: translateX(-50%);
        box-shadow: -2px -3px 8px 5px rgba(0, 0, 0, 0.2);
        padding: 50px 90px 20px 70px;
        margin-right: 40px;
       
    }


}

.about{
    margin-top: 10rem;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    column-gap: 30px;
}
   



/**
 * Sudiptos Design
 * */

 .scontainer {
     max-width: 1440px;
     margin: 0 auto;
     padding: 0 40px;
 }

 .sheader {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 999;

    &__wpr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 40px;
    } 
 }

 .shero {
    background-image: url(../image/Rectangle1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: top right;
    height: 80vh;
    text-align: left;
    padding: 0 40px;
    text-align: justify;

    @media screen and (max-width: 768px) {
        
    }

    &__content {
        max-width: 600px;
        width: 100%;
        background-color: $color-bg;
        padding: 20px 30px 40px;
        position: absolute;
        bottom: -200px;

        left: 5%;

        @media screen and (max-width: 768px) {
            max-width: 90%;
            // position: relative;
            // left: -25px;
            // margin: 0 25px;
            
        }
    }
 }




