$color-primary:#000000;
$color-secondary: #F78065;
$color-tertiary:#FFFFFF;
$color-bg:#F7F7F7;


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.btn{

        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 20px;          
    
    &__icon{
        margin-right:6px;
      
    }    

    &--primary{
        background-color: #F78065;
            }

}

.title{
    
    font-weight: 700;
    color: $color-primary;
    letter-spacing: .5;
}
.text{
    font-size: 1.3rem;
    text-align: justify;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.568);

}


.header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: 2rem;
    
    

            &__logo-1{
                padding-left: 5rem;
            }
            &__logo-2{
                padding-right: 5rem;
            }

}


.hero{
   
    background-image: url(../image/Rectangle1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;
    height: 95vh;
    text-align: left;
    padding: 0 40px;
    text-align: justify;


    &__content{
        max-width: 700px;
        width: 100%;
        background-color: $color-tertiary;
        color:$color-primary;
        position: absolute;
        top:65%;
        left: 38%;
        transform: translateX(-50%);
        box-shadow: -2px -3px 8px 5px rgba(0, 0, 0, 0.2);
        padding: 50px 90px 20px 70px;
        margin-right: 40px;
       
    }

    &__title{
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.356);

        span{
            color: $color-secondary;
        }
    }

    &__text{
        margin-bottom: 20px;
    }


}
    
   






